<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chat here</title>
    <link rel="stylesheet" href="/static/CSS/Chat.css" />
    <link rel="icon" href="/static/images/logo-figma.png" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
    />
  </head>
  <body>
    <!-- chat area whole block -->
    <div class="wrapper">
      <!-- chat area -->
      <section class="chat-area">
        <header>
          <img src="/ChatBot/static/images/logo-figma.png" alt="" />
          <div class="details">
            <span>ChatBot</span>
            <p>Active Now</p>
          </div>
        </header>

        <!-- chatbox bot and user -->

        <div class="chat-box">
          <!-- bot message -->
          <div class="chat incoming">
            <img src="/ChatBot/static/images/logo-figma.png" alt="" />
            <div class="details">
              <p>
                Hey!😊
                <br />
                I'm Eliza. <br />
                Happy to see you here👋
              </p>
            </div>
          </div>

          <div class="chat outgoing">
            <div class="details">
              <p class="user-msg"></p>
            </div>
          </div>
        </div>
        <!-- this script is for the buttons -->
        <script>
          function onclickRes() {
            
            var buttons = [
              document.getElementById("button1"),
              document.getElementById("button2"),
              document.getElementById("button3"),
              document.getElementById("button4"),
              document.getElementById("button5"),
            ];

            buttons.forEach(function (button) {
              button.addEventListener("click", function () {
                // console.log(this.textContent);
                document.querySelector(".user-msg").innerText =
                  this.textContent;
              });
            });
          }
        </script>

        <div class="msg-quick-reply">
          <div class="btn-wrap">
            <button class="btn-quick-reply" id="button1" onclick="onclickRes()">Admission</button>
            <button class="btn-quick-reply" id="button2" onclick="onclickRes()">Hostel</button>
            <button class="btn-quick-reply" id="button3" onclick="onclickRes()">Scholarship </button>
            <button class="btn-quick-reply" id="button4" onclick="onclickRes()">Courses</button>
            <button class="btn-quick-reply" id="button5" onclick="onclickRes()">Student</button>
          </div>
        </div>
        <form action="#" class="typing-area">
          <input type="text" class="incoming_id" name="" value="" hidden />
          <input
            type="text"
            name="message"
            class="input-field"
            placeholder="Type a message here..."
            autocomplete="off"
          />
          <button><i class="fab fa-telegram-plane"></i></button>
        </form>
      </section>
    </div>
  </body>
</html>