<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/CSS/login.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <title>Eliza | Login</title>

</head>
<body>
   <div class="box">
        <div class="container">
            {%if messages %}
                {% for message in messages %}
                    <div class="alert alert-info">
                      {{message}}
                    </div>
                {% endfor %}
            {% endif %}    
            <form method="post">
                {%csrf_token%}
                <div class="top">
                    <div class="top">
                        <label><a href="{% url 'signup' %}">Dont't Have a Account? SignUp</a></label>
                    </div>
                    <header>Login</header>
                 </div>

                <div class="input-field">
                    <input type="text" class="input" placeholder="Enter Username" id="Username" name="username">
                    <i class='bx bx-user' ></i>
                </div>

                <div class="input-field">
                    <input type="Password" class="input" placeholder="Password" id="PAssword" name="pass">
                    <i class='bx bx-lock-alt'></i>
                </div>

                <div class="input-field">
                    <input type="submit" class="submit" value="Login" id="">
                </div>

                <div class="two-col">
                    
                    <div class="two">
                        <label><a href="#">Forgot password?</a></label>
                    </div>
                </div>
            </form>   
        </div>
    </div>  
</body>
</html>