<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/CSS/signup.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <title>Eliza | Sign-In</title>

</head>
<body>
    
    <div class="box">
         <div class="container">
            <form action="" method="POST">      
                {% csrf_token %}
                {% if messages %}
                        {% for message in messages %}
                        <div class="alert alert-info">
                            {{ message }}
                        </div>    
                        {% endfor %}
                {% endif %}
                
                <div class="top">
                    <span>Create an Account</span>
                    <header>Sign-In</header>
                </div>
        
                <div class="input-field">
                    <input type="text" class="input" placeholder="Username" name="username" id="Username">
                    <i class='bx bx-user' ></i>
                </div>

                <div class="input-field">
                    <input type="text" class="input" placeholder="E-mail" name="email" id="E-mail">
                    <i class='bx bx-user' ></i>
                </div>

                <div class="input-field">
                    <input type="Password" class="input" placeholder="Password"  name="pass" id="Password">
                    <i class='bx bx-lock-alt'></i>
                </div>

                <div class="input-field">
                    <input type="Password" class="input" placeholder="Confirm Password"  name="cpass" id="Confirm Password">
                    <i class='bx bx-lock-alt' ></i>
                </div>

                <div class="input-field">
                    <input type="submit" class="submit" value="Sign-In" id="">
                </div>
                
                
                <div class="one">
                    <a href="{% url 'login' %}">Already Have a Account? Login</a>
                </div>
            </form>

        </div>
    </div>  
</body>
</html>