<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/static/CSS/Hero.css" />
  <link rel="icon" href="/static/images/logo-figma.png" />
  <img rel="image" href="\static\images\background6.jpg"/>
  <script src="/static/javascript/color.js"></script>
  <title>Eliza Verification</title>
</head>
<body>
    <h1> You have sent an email </h1>
</body>

</html>
